<% if game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
    <% game.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form_group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form_group">
      <%= f.label :short_name %><br>
      <%= f.text_field :short_name, class: 'form-control' %>
    </div>
    <div class="form_group">
      <%= f.label :service_name %><br>
      <%= f.text_area :service_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :icon %><br>
      <%= image_tag(game.icon.url) if game.icon? %>
      <%= f.file_field :icon %>
      <%= f.hidden_field :icon_cache %>
    </div>
    <div class="actions form-group">
      <%= f.submit class: ['btn', 'btn-success'] %>
    </div>
  </div>
</div>
