<a href="<%= game_path(game) %>" class="list-group-item">
  <img src="<%= game.icon.url %>" class="pull-left game-icon">

  <div class="list-group-item-heading">
    <h3><%= game.name %></h3>
  </div>

  <div class="list-group-item-body async-status" data-short-name="<%= game.short_name %>">
    <%= image_tag asset_path('loading_spinner.gif'), class: 'loading_spinner' %>
  </div>

  <div class="clearfix"></div>
</a>
