<% if game.status[:online] != nil %>
  <p>
    <strong>Status</strong>:
    <% if game.status[:online] === true %>
      <span class="status-online">
        <%= image_tag asset_path('online.png'), class: ['status-image'] %> online
      </span>
    <% elsif game.status[:online] === false %>
      <span class="status-offline">
        <%= image_tag asset_path('offline.png'), class: ['status-image'] %> offline
      </span>
    <% else %>
      <span class="status-offline">
        <%= game.status[:online] %>
      </span>
    <% end %>
  </p>
<% end %>
<% game.status.except(:online).each do |value| %>
  <p><strong><%= value[0].to_s.humanize %></strong>: <%= value[1] %></p>
<% end %>
