<!DOCTYPE html>
<html>
<head>
  <title>SerbenManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
<div id="master">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <% unless current_page? root_path %>
          <a class="mdl-layout-title" href="<%= yield(:prev_page) || root_path %>"><i class="material-icons">arrow_back</i>&nbsp;</a>
        <% end %>
        <a class="mdl-layout-title" href="<%= yield(:prev_page) || root_path %>"><%= yield :title %></a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% if current_user %>
              <span class="mdl-navigation__text">
                Signed in as <%= current_user.username %>.
                <%= link_to 'Logout', logout_path, method: :post, class: ['mdl-navigation__link', 'logout'] %>
              </span>
          <% else %>
              <%= link_to 'Login', login_path, class: 'mdl-navigation__link' %>
          <% end %>
        </nav>
        <nav class="mdl-navigation mdl-layout--small-screen-only">
          <button id="mobile-menu" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="mobile-menu">
            <% if current_user %>
              <li disabled class="mdl-color-text--grey-500 mdl-menu__item">
                Signed in as <%= current_user.username %>.
              </li>
              <li class="mdl-color-text--blue-grey-700 mdl-menu__item">
                <%= link_to 'Logout', logout_path, method: :post, class: ['mdl-color-text--blue-grey-700', 'mdl-navigation__link', 'logout'] %>
              </li>
            <% else %>
              <li class="mdl-menu__item">
                <%= link_to 'Login', login_path, class: ['mdl-color-text--blue-grey-700', 'mdl-navigation__link'] %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <%= yield %>
          </div>
        </div>
      </div>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Copyright © 2015 The Entropics</div>
        </div>
      </footer>
    </main>
  </div>
</div>
<% if GamePolicy.new(current_user, nil).create? %>
  <%= link_to new_game_path, class: ['mdl-button', 'mdl-js-button', 'mdl-button--fab', 'mdl-js-ripple-effect', 'mdl-button--colored'], id: 'btn-add' do %>
    <i class="material-icons">add</i>
  <% end %>
<% end %>
</body>
</html>
